* {
  padding-bottom: 5px;
}

body {
  margin: 0px;
  background-color: #fff;
}

#topnav {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#topnav a:hover {
  background-color: black;
  color: white;
}

.content {
  padding-top: 60px;
}

#carouselImage {
  object-fit: cover;
  height: 777px;
  width: 100%;
}

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: -10px;
  align-items: center;
}

#menu li {
  float: left;
  width: 50%;
  padding: 5px;
}

#menuImages{
  object-fit: cover;
  float: left;
  height: 600px;
  width: 100%;
}
